{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "no-console": "warn"
    },
    "extends": [
        "airbnb-base",
        "plugin:react/recommended"
    ]
}
